<!-- Bootstrap -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<!-- jQuery library -->
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<br>

<div class="container">
    <h4>{{dis}}</h4>
    </div>
    <br>
<div class="container">  
    <h3>Login Page</h3><br>
       <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
       <div class="form-group">
           <label for="email">Email Address: </label>
           <input type="email" class="form-control" name="emailid" formControlName="emailid">
       </div>
           
       <div class="form-group">
           <label for="pwd">Password: </label>
           <input type="password" class="form-control" name="pass" formControlName="pass">
       </div>
           
           <input type="submit" class="btn btn-primary" value="Submit">
       </form>
  <br>

  <table class="table table-striped table-bordered table-responsive table-hover">
      <thead>
      <tr>
          <th>Sr. No. </th>
          <th>Email</th>
          <th>Password</th>
          <th>Option</th>
          </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of employees">
          <td></td>
          <td>{{item.email}}</td>
          <td>{{item.pass}}</td>
          <td> <button class="btn btn-outline-primary" (click)="onItemDeleted(item)">Delete</button></td>
      </tr>
      </tbody>
      </table>
   </div>